body {
    margin: 0;
}
#header {
    margin: 0;
    width: 100vw;
    height: 15vh;
    background-color: aliceblue;
}
#library-header {
    margin-top: 0;
    padding: 10px;
    margin-left: 20vw;
}
.container {
    display: flex;
    flex-direction: column;
}
button {
    font-size: 24px;
    margin: 0;
    margin-top: 3vh;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px;
}
ul {
    list-style: none;
}
    /* background: none;
    border: none;
*/